<div class="row">
    <div class="large-12 columns">
      <div class="box" id="profile-header">
        <h2><%= current_user.name %>'s Monthly Snapshot</h2>
      <% if current_user.has_income? && current_user.has_expenses? && current_user.income < current_user.total_expenses %>
        <p><%= image_tag "alert_red.png" %>You are currently spending more than you make, lets figure out some ways you can cut back. <%= link_to "Show me", expensesheets_path %></p>
      <% end %>

      <% if current_user.has_income? %>
        <h5><%= image_tag "money.png" %>$<%= current_user.income %> income</h5>
      <% end %>

      <h5><%= image_tag "cc_33x22.png" %>
        $<%= current_user.expenses.total_expense_amount %>
      </h5>
      <div id="text-line">
      <h5 id="align-left">
      <% if current_user.expenses.empty? %>
        <%= link_to "Add expenses", new_expensesheet_path %>
      <% end %>
      <% if current_user.can_make_purchase? %>
      Savings: $<%= current_user.income - current_user.expenses.total_expense_amount %> per month
      </h5>
      <% end %>
       <p id="align-right"><%= link_to "Edit your expenses", edit_expensesheet_path(current_user) %></p>
     </div>
    </div>
  </div>
</div>


  <% if !current_user.has_income? %>
    <div id="incomeModal" class="reveal-modal" data-reveal aria-labelledby="incomeModalTitle" aria-hidden="true" role="dialog" >
      <h3>What is your monthly income?</h3>
      <%= form_tag(user_path(current_user), method: "patch") do %>
        <%= text_field_tag :income %>
        <%= submit_tag "submit", :class => "button round" %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.has_income? && !current_user.has_expenses? %>
    <div id="expensesModal" class="reveal-modal" data-reveal aria-labelledby="expensesModalTitle" aria-hidden="true" role="dialog" >
      <h4>Enter your expenses:</h4>
      <%= render partial: "/expensesheets/form" %>
    </div>
  <% end %>


  <% if current_user.has_income? && current_user.has_expenses? %>
<div class="row">
  <div class="large-6 columns">
      <div id="pie-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>

  <div class="large-6 columns">
    <div class="box" id="container-box">
      <div id="container" style="width:70%;height:300px;"></div>
    </div>
  </div>
</div>
  <% end %>


<div class="row">
</div>