<h1><%= @user.name %>'s Profile</h1>

<h2>Summary</h2>
<% if @user.income < @user.expenses.total_expense_amount %>
<p><%= image_tag "piggy_bank.png" %>You are currently spending more than you make, lets</p>
<% end %>

<h4><%= image_tag "piggy_bank.png" %>
  <span style="color: #0ac775">$<%= @user.savings.total_savings %> Saved</span></h4>

<h4><%= image_tag "credit_card.png" %>
  $<%= @user.expenses.total_expense_amount %> in expenses</h4>

<% if @user.income == nil %>
  <h3>What is your monthly income?
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right">Income $</label>
        </div>
       <div class="small-9 columns">
          <%= form_tag(user_path(@user), method: "patch") do %>
            <%= text_field_tag(:income) %>
            <%= submit_tag("submit") %>
          </div>
      </div>
    </div>
  </div>
<% end %>
<% else %>
  <h4>Your income is $<%= @user.income %></h4>
<% end %>

<h4>Planned Purchases: $<%= @user.purchases.total_purchase_amount%></h4>
  <% @user.purchases.each do |purchase| %>
    <p><%= purchase.title %> for $<%= purchase.cost %> <%= link_to "delete", purchase_path(purchase), method: :delete %></p>
  <% end %>
<br>

<%= button_to "Add savings", {:controller => "savings", :action => "new"} , :method => :get, :class => "button round" %>

<% if @user.income > @user.expenses.total_expense_amount %>
  <%= button_to "Add a new purchase", {:controller => "purchases", :action => "new"} , :method => :get, :class => "button round" %>
<% end %>

