<h1><%= @user.name %>'s Profile</h1>
<% if @user.income == nil %>
<h3>What is your monthly income?
<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right">Income $</label>
      </div>
     <div class="small-9 columns">
        <%= form_tag(user_path(@user), method: "patch") do %>
          <%= text_field_tag(:income) %>
          <%= submit_tag("submit") %>
        </div>
    </div>
  </div>
</div>
        <% end %>
<% else %>
  Your income is $<%= @user.income %>
<% end %>

<h4>Current Savings: $<%= @user.savings.total_savings %></h4>
<br>
<h4>Planned Purchases: </h4>
  <% @user.purchases.each do |purchase| %>
    <p><%= purchase.title %> for $<%= purchase.cost %> <%= link_to "delete", purchase_path(purchase), method: :delete %></p>
  <% end %>
<br>

<%= button_to "Add savings", {:controller => "savings", :action => "new"} , :method => :get, :class => "button round" %>
<%= button_to "Add a new purchase", {:controller => "purchases", :action => "new"} , :method => :get, :class => "button round" %>

