<%= form_tag("/expensesheets", method: "post") do %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="ie: rent, money to grandma for putting a roof over your head">Housing</span>
  <%= text_field_tag 'expense[amount[1]]' %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="How you get around town. ie: gas money, bus fare">Transportation</span>
  <%= text_field_tag 'expense[amount[2]]' %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="please also include money spent on drinks">Food</span>
  <%= text_field_tag 'expense[amount[3]]' %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="Data plan and phone bill">Phone</span>
  <%= text_field_tag 'expense[amount[4]]' %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="Other types of things you spend your money on each month (ie: student loans)">Misc.</span>
  <%= text_field_tag 'expense[amount[5]]' %>
  <%= button_tag 'Add Expenses', html: {:class => "button round"} %>
<% end %>


