<h3>Update your expenses!</h3>

<div class="large-4 columns">

<%= form_tag(expensesheet_path(current_user), method: "PATCH") do %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="ie: rent, money to grandma for putting a roof over your head">Housing</span>
  <%= text_field_tag 'expense[housing]', @expenses['Housing'].amount %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="How you get around town. ie: gas money, bus fare">Transportation</span>
  <%= text_field_tag 'expense[transportation]', @expenses['Transportation'].amount %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="please also include money spent on drinks">Food</span>
  <%= text_field_tag 'expense[food]', @expenses['Food'].amount %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="Data plan and phone bill">Phone</span>
  <%= text_field_tag 'expense[phone]', @expenses['Phone'].amount %>
  <span data-tooltip aria-haspopup="true" class="has-tip" title="Other types of things you spend your money on each month (ie: student loans)">Misc.</span>
  <%= text_field_tag 'expense[misc]', @expenses['Misc'].amount %>
  <%= button_tag 'Add Expenses', html: {:class => "button round"} %>
<% end %>


</div>