<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Can I Afford This</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>

    <%= yield %>
  </body>

      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
       d3.json("/purchases.json", function(error, data) {
          // do something with the data here
          debugger;
          console.log(error);
          console.log(data);
       });
    </script>

</html>
